.container {
	padding-top: 3rem;
	height: 100vh;
	background: url('../.././public/images/knight-g0bc3e4ff3_1920.jpg') no-repeat
		center center;
	background-size: cover;
	z-index: -10;
	overflow: hidden;
	opacity: 0;
	transition: opacity 2s ease-in-out;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fade-in {
	animation-fill-mode: forwards;
	animation-name: btnFadeIn;
	animation-duration: 5s;
	animation-delay: 2s;
}

.parchment {
	position: relative;
	width: 50vw;
	height: auto;
	margin-left: 5rem;
	background: url('../.././public/images/parchment-g5ac1c4aef_1920.png')
		no-repeat center center;
	background-size: cover;
	z-index: 0;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-name: fadeIn;
	animation-duration: 30s;
	animation-delay: 10s;
}

@keyframes fadeIn {
	0% {
		opacity: 0; /* start with opacity 0 */
	}
	100% {
		opacity: 1; /* end with opacity 1 */
	}
}

.parchmentText {
	font-family: 'Italianno', cursive;
	position: relative;
	height: auto;
	padding: 4.5rem 3.5rem;
	font-size: 2rem;
	z-index: 1;
}

.date {
	float: right;
	margin-right: 1rem;
}

@media screen and ((min-width: 1401px) and (max-width: 1500px)) {
	.container {
		padding-top: 2rem;
	}
	.parchment {
		width: 50vw;
		height: 95vh;
	}
	.parchmentText {
		font-size: 1.8rem;
		padding: 4rem 2rem;
	}
}

@media screen and ((min-width: 1201px) and (max-width: 1400px)) {
	.container {
		padding-top: 2rem;
	}
	.parchment {
		width: 70vw;
		height: 95vh;
	}
	.parchmentText {
		font-size: 1.7rem;
		padding: 4rem 3rem;
	}
	.startBtn {
		width: 3rem !important;
		height: 3rem !important;
		right: 2rem !important;
	}
}

@media screen and (max-width: 1200px) {
	.container {
		padding-top: 1rem;
	}
	.parchment {
		width: 70vw;
		height: 95vh;
	}
	.parchmentText {
		font-size: 1.3rem;
		padding: 4rem 2rem;
	}
	.startBtn {
		width: 2rem !important;
		height: 2rem !important;
	}
}

@keyframes btnFadeIn {
	0% {
		opacity: 0; /* start with opacity 0 */
	}
	100% {
		opacity: 1; /* end with opacity 1 */
	}
}

.startBtn {
	position: absolute;
	width: 5rem;
	height: 5rem;
	background-color: transparent;
	background-image: url('../.././public/images/seal2.png');
	background-size: cover;
	border: none;
	right: 0.5rem;
	bottom: 1.5rem;
	border-radius: 50%;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-name: btnFadeIn;
	animation-duration: 10s;
	/* !CHANGE BACK TO 120 BELOW TO PLAY */
	animation-delay: 100s;
	z-index: 2;
}
